*{margin:0;padding:0;box-sizing:border-box;}
html{
	font-family: sans-serif;
}

h1
{
	width: 100%;
	font-size: 300%;
	font-weight: 100;
	background-color: #55ACEE;
	margin: 0 0 20px 0;
	padding: 20px;
	color: #fff;
}

main
{
	display: block;
	padding: 20px;
}

p.summary
{
	font-size: 120%;
	margin-bottom: 20px;
}

table
{
	width: 100%;
}
th
{
	text-align: left;
}

div.overview
{
	font-size: 200%;
	margin: 20px 0;
}
